*,
body {
  font-family: $contentFont;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;/* Chrome, Safari and Opera */
  }
}

.scroll-container {
  height: calc(100vh - 120px);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;/* Chrome, Safari and Opera */
  }

  @media (max-width: 1920px ) {
    height: calc(100vh - 80px);
  }
  
  @media (max-width: 1024px ) {
    height: calc(100vh - 80px);
  }
}

.container--custom {
  padding: 0 200px;
  width: 100%;
  // @media (max-width: 1920px ) {
  //   padding: 0 160px;
  // }
  @media (max-width: 1024px ) {
    padding: 0 60px;
  }
}

.section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: center;
  position: relative;
  @media (max-width: 1024px ) {
    background-size: auto 100%;
  }

  &-content {
    @media (max-width: 1024px ) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-logo {
      width: 248px;
      margin-bottom: 80px;
      @media (max-width: 1920px ) {
        width: 200px;
        margin-bottom: 24px;
      }
      @media (max-width: 1024px ) {

      }
    }

    &-title {
      font-size: $text_title--1;
      font-family: $titleFont;
      text-transform: capitalize;
      color: $cl_text--primary;
      margin-bottom: 8px;
      letter-spacing: 3px;
      @media (max-width: 1920px ) {
        font-size: $text_title--2;
      }
      @media (max-width: 1024px ) {
        // font-size: $text_title--2;
      }

      &--small {
        font-size: $text_title--2;
        // @media (max-width: 1024px ) {
        //   font-size: $text_title--3;
        // }
      }

      &.highlight {
        position: relative;
        display: inline-block;
        z-index: 1;

        &::before {
          content: '';
          position: absolute;
          background-color: $cl_highlight;
          bottom: 12px;
          left: 0;
          width: 100%;
          height: 35%;
          z-index: -1;
        }
      }
    }

    &-paragraph {
      font-size: $text_content--md;
      font-weight: 800;
      color: $cl_text--secondary;
      line-height: 28px;
      @media (max-width: 1920px ) {
        font-size: $text_content--sm;
        line-height: 24px;
      }
      @media (max-width: 1024px ) {
        text-align: center;
      }
    }

  }
}

.slick {
  &-slide {
    @media (max-width: 1024px ) {
      display: flex;
      align-items: center;
    }
  }
  &-arrow {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    color: transparent;
    background-color: $cl_main;
    position: absolute;
    z-index: 99;

    &::before {
      content: url(/assets/images/icons/arrow_back_ios_new.svg);
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  &-disabled {
    background-color: rgba($cl_text--primary, 20%);

    &::before {
      content: url(/assets/images/icons/arrow_back_ios_new_disabled.svg);
    }
  }

  &-next {}

  &-prev {
    transform: rotate(180deg);
  }
}

.slider {
  &-index {
    display: block;
    font-size: $text_content--xl;
    font-weight: 800;
    color: $cl_text--primary;
    width: 100%;
    text-align: center;
    @media (max-width: 1024px ) {
      position: absolute;
      bottom: 64px;
      left: 0;
      right: 0;
      padding: 0 !important;
      margin: 0 auto
    }
  }
}