$cl_main: #4AAB2C;
$cl_background: #F5F4E8;
$cl_highlight: #C5EE5D;
$cl_text--primary: #2A2A2A;
$cl_text--secondary: #707070;
$cl_button-background: #FB7463;
$cl_btn-border: #2A2A2A;


$text_title--1: 72px;
$text_title--2: 48px;
$text_title--3: 48px;
$text_title--4: 24px;
$text_content--xl: 36px;
$text_content--lg: 24px;
$text_content--md: 20px;
$text_content--sm: 16px;
$text_content--xs: 14px;