.top {
  background-image: url(../../assets/images/background/background-1.png);

  .stats {
    display: flex;
    align-items: center;

    &-item {
      margin-right: 36px;
      @media (max-width: 1024px ) {
        margin-right: 24px;
      }
      &:last-child {
        margin-right: 0;
      }
    }

    &-title {
      font-size: $text_content--xl;
      font-weight: 800;
      color: $cl_text--primary;
      text-shadow: 0px 4px $cl_highlight;
      margin: 0;
    }

    &-sub {
      font-size: $text_content--sm;
      font-weight: 400;
      font-style: italic;
      color: $cl_text--primary;
      margin: 0;
    }
  }
}

.trailer {
  background-image: url(../../assets/images/background/video.png);
  video {
    width: 100%;
    height: auto;
  }
}

.games {
  background-image: url(../../assets/images/background/background-2.png);
  flex-direction: column;

  &-slider {
    position: relative;
    width: 100% !important;

    .slick-track {
      display: flex;
    }
  }

  .slick-arrow {
    bottom: 4px;
    @media (max-width: 1024px ) {
      bottom: 16px;
    }

    &.slick-prev {
      left: 69%;
      @media (max-width: 1024px ) {
        left: 42%;
      }
    }

    &.slick-next {
      right: 22%;
      @media (max-width: 1024px ) {
        right: 42%;
      }
    }
  }

  &-list {
    margin-bottom: 24px;
    @media (max-width: 1024px ) {
      margin-bottom: 72px;
    }
    img {
      border: 4px solid rgba($cl_main, 25%);
      border-radius: 20px;
      width: 100%;
      margin-bottom: 24px;
    }
  }

  .slider-index {
    padding: 0 25% 0 72%;
  }

}

.roadmap {
  background-image: url(../../assets/images/background/background-3.png);
  overflow: hidden;

  &-slider {
    margin: 48px 0 24px;
    position: relative;
    @media (max-width: 1024px ) {
      position: relative;
      z-index: 10;
    }
    &::before {
      @media (max-width: 1024px ) {
        content: '';
        position: absolute;
        left: 24%;
        top: 4px;
        background: #ADADAD;
        height: 90%;
        width: 1px;
        z-index: -1;
      }
  
    }


    .slick-track {
      display: flex;
      position: relative;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        left: 7%;
        top: calc((100% - 1px) / 2);
        background: #ADADAD;
        height: 1px;
        width: 86%;
        z-index: -1;
      }
    }
  }

  .slick-arrow {
    bottom: -75px;

    &.slick-prev {
      left: 45.5%;
    }

    &.slick-next {
      right: 45.5%;
    }
  }


  &-tree {
    display: flex !important;
    padding: 0 200px;
    min-height: 436px;
    @media (max-width: 1024px ) {
      flex-direction: column;
      padding: 0 60px;
      min-height: unset;
    }

    &-item {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      width: 25%;
      @media (max-width: 1024px ) {
        flex-direction: row;
        padding: 0 !important;
        width: 100%;
        justify-content: flex-start !important;
        margin-bottom: 48px !important;
      }

      &:first-child {
        margin: 0
      }

      &.odd {
        padding-bottom: 190px;
        justify-content: flex-end;

        .time::before {
          border-top-color: $cl_text--primary;
          border-width: 12px 12px 0 12px;
          left: 0;
          right: 0;
          bottom: -6px;
        }
      }

      &.even {
        padding-top: 190px;
        justify-content: flex-start;

        .time::before {
          border-bottom-color: $cl_text--primary;
          border-width: 0 12px 12px 12px;
          left: 0;
          right: 0;
          top: -6px;
        }
      }

      .time {
        display: inline-block;
        font-size: $text_content--md;
        font-weight: 800;
        line-height: 28px;
        color: #fff;
        padding: 16px 36px;
        border-radius: 20px;
        background-color: $cl_text--primary;
        margin: 16px 0;
        position: relative;
        @media (max-width: 1024px ) {
          margin: 0;
          font-size: $text_content--sm;
          padding: 12px 28px;
          width: 140px;
          text-align: center;
          line-height: unset;
        }

        &::before {
          position: absolute;
          display: block;
          content: '';
          border-color: transparent;
          border-style: solid;
          border-width: 0;
          width: 0;
          height: 0;
          margin: auto;
          @media (max-width: 1024px ) {
            border-left-color: $cl_text--primary;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            border-width: 8px 0 8px 8px !important;
            left: 100% !important;
            bottom: 0 !important;
            top: 0 !important;
          }
        }
      }

      .icon {
        height: 44px;
        margin: 12px 52px;
        @media (max-width: 1024px ) {
          margin: 4px 24px;
          height: unset;
          width: 36px;
        }

        img {
          height: 100%;
          width: auto !important;
          @media (max-width: 1024px ) {
            width: 100% !important;
            height: unset;
          }
        }
      }

      .detail {
        width: 220%;
        @media (max-width: 1024px ) {
          width: unset;
        }

        &-title {
          font-size: $text_content--md;
          font-weight: 800;
          line-height: 27px;
          color: $cl_main;
          margin-bottom: 8px;
        }

        &-list {
          padding-left: 16px;
          margin: 0;

          li {
            font-size: $text_content--xs;
            font-weight: 800;
            line-height: 20px;
            color: $cl_text--primary;
          }
        }
      }
    }
  }
  .slider-index {
    @media (max-width: 1024px ) {
      display: none;
    }

  }
}

.fairlaunch {
  background-color: #74C959;
  overflow: hidden;

  img {
    width: 200%;
    @media (max-width: 1024px ) {
      width: 100%;
    }
  }

  &-countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    &-item {
      width: 190px;
      height: 190px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border: 4px solid $cl_text--primary;
      border-radius: 48px;
      box-shadow: 0 6px #fff;
      margin-right: 48px;
      font-size: $text_content--lg;
      color: $cl_text--primary;
      @media (max-width: 1024px ) {
        width: 160px;
        height: 160px;
        font-size: $text_content--md;
      }

      &:last-child {
        margin: 0;
      }

      span {
        font-size: 80px;
        font-weight: 700;
        color: $cl_text--primary;
        @media (max-width: 1024px ) {
          font-size: $text_title--2;
        }
      }
    }
  }
}

.tokenomics {
  background-image: url(/assets/images/background/background-5.png);

  .section-content-title {
    position: relative;
    display: inline-block;

    img {
      position: absolute;
      right: 0;
      top: 0;
      width: 48px;
      transform: rotate(-17.43deg);
    }
  }

}

.teams {
  background-image: url(/assets/images/background/background-6.png);

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1024px ) {
      margin-bottom: 48px;
    }

    .avatar {
      width: 200px;
      border: 3px solid $cl_text--primary;
      box-shadow: 0 12px $cl_main;
      border-radius: 50%;
      margin-bottom: 48px;
    }

    .name {
      color: $cl_text--primary;
      font-size: $text_content--xl;
      font-weight: 800;
      margin: 0;
    }

    .title {
      color: $cl_main;
      font-size: $text_content--md;
      font-weight: 800;
      line-height: 27px;
      margin-bottom: 16px;
    }

    .desc {
      color: $cl_text--secondary;
      font-size: $text_content--sm;
      font-weight: 600;
      line-height: 23px;
      margin: 0;
      text-align: center;
    }
  }
}

.partners {
  background-image: url(/assets/images/background/background-7.png);
  flex-direction: column;
  justify-content: flex-end;
  @media (max-width: 1024px ) {
    justify-content: space-between;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1024px ) {
      margin-top: 15%;
    }

    &-title {
      &.highlight::before {
        background-color: #FCA296;
      }
    }
  }

  &-list {
    width: 45%;
    margin-top: 48px;
    position: relative;
    @media (max-width: 1024px ) {
      width: 80%;
    }

    .masscot {
      position: absolute;
      width: 120px;
      right: 24px;
      bottom: 97%;
      transform: rotate(-10deg);
      @media (max-width: 1024px ) {
        right: 36px;
        bottom: 98%;
      }
    }

    img:not(.masscot) {
      width: 100%;
      margin: 12px 0;
      border: 2px solid $cl_text--primary;
      border-radius: 24px;
      box-shadow: 0 4px #fff;
    }
  }
}