.top {
  background-image: url(../../assets/images/background/background-1.png);

  @media (max-width: 575px) {
    background-image: none;
    background: $cl_background;
  }

  .stats {
    display: flex;
    align-items: center;

    @media (max-width: 575px) {
      flex-wrap: wrap;
    }

    &-item {
      margin-right: 36px;

      @media (max-width: 1024px) {
        margin-right: 24px;
      }

      @media (max-width: 575px) {
        width: 50%;
        margin: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &-title {
      font-size: $text_content--xl;
      font-weight: 800;
      color: $cl_text--primary;
      text-shadow: 0px 4px $cl_highlight;
      margin: 0;

      @media (max-width: 1920px) {
        font-size: $text_content--lg;
      }

    }

    &-sub {
      font-size: $text_content--sm;
      font-weight: 400;
      font-style: italic;
      color: $cl_text--primary;
      margin: 0;

      @media (max-width: 1920px) {
        font-size: $text_content--xs;
      }
    }
  }
}

.trailer {
  background-image: url(../../assets/images/background/video.png);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  video {
    width: 100%;
    // max-height: 100%;
  }
}

.games {
  background-image: url(../../assets/images/background/background-2.png);
  flex-direction: column;

  @media (max-width: 575px) {
    background-image: none;
    background: $cl_background;
  }

  &-slider {
    position: relative;
    width: 100vw !important;

    .slick-track {
      display: flex;
    }
  }

  .section-content {
    // @media (max-width: 1024px) {
    //   height: 24vh;
    // }

    // @media (max-width: 820px) {
    //   height: 28vh;
    // }

    // @media (max-width: 768px) {
    //   height: 32vh;
    // }

    // @media (max-width: 575px) {
    //   height: 30vh;
    // }
  }

  &-list {
    height: 440px;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    @media (min-width: 1920px) {
      height: unset;
    }

    @media (max-width: 1024px) {
      height: 48vh;
    }

    .col-6 {
      @media (max-width: 575px) {
        padding: 0 6px;
      }
    }


    &-item {
      border: 4px solid rgba($cl_main, 25%);
      border-radius: 20px;
      width: 100%;
      margin: 12px 0;

      @media (max-width: 575px) {
        margin: 6px 0;
      }
    }

    &-mockup {
      width: 70%;

      @media (max-width: 1024px) {
        width: 60%;
      }

      @media (max-width: 575px) {
        width: 70%;
      }
    }

    &-video {
      width: 100%;
      border-radius: 20px;
      border: 8px solid $cl_main;
    }
  }

  .slick-arrow {
    top: 100%;
    z-index: 999;

    &.slick-prev {
      left: 67%;

      @media (max-width: 1024px) {
        left: 41%;
      }

      @media (max-width: 820px) {
        left: 40%;
      }

      @media (max-width: 575px) {
        left: 30%;
      }
    }

    &.slick-next {
      right: 23%;

      @media (max-width: 1024px) {
        right: 41%;
      }

      @media (max-width: 820px) {
        right: 40%;
      }

      @media (max-width: 575px) {
        right: 30%;
      }
    }
  }

  .slider-index {
    padding: 0 27% 0 71%;

    @media (max-width: 1920px) {
      padding: 0 27% 0 71%;
    }
    @media (max-width: 1024px) {
      padding: 0;
    }
  }

}

.roadmap {
  background-image: url(../../assets/images/background/background-3.png);
  overflow: hidden;

  &-slider {
    margin: 48px 0 24px;
    position: relative;

    @media (max-width: 1920px) {
      margin: 24px 0 0;
    }

    @media (max-width: 1024px) {
      position: relative;
      z-index: 10;
    }

    &::before {
      @media (max-width: 1024px) {
        content: '';
        position: absolute;
        left: 24%;
        top: 4px;
        background: #ADADAD;
        height: 90%;
        width: 1px;
        z-index: -1;
      }

      @media (max-width: 820px) {
        left: 25.5%;
        height: 85%;
      }

      @media (max-width: 768px) {
        left: 27%;
        top: 4px;
        height: 85%;
      }

      @media (max-width: 575px) {
        left: 12%;
        top: 15px;
        height: 83%;
      }
    }

  }


  .slick-track {
    display: flex;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      left: 7%;
      top: calc((100% - 1px) / 2);
      background: #ADADAD;
      height: 1px;
      width: 74%;
      z-index: -1;

      @media (min-width: 1920px) {
        left: 5%;
      }

      @media (max-width: 1920px) {
        left: 9%;
      }
    }
  }

  .slick-arrow {
    bottom: -75px;

    @media (max-width: 1920px) {
      bottom: -12%;
    }

    &.slick-prev {
      left: 45.5%;
    }

    &.slick-next {
      right: 45.5%;
    }
  }


  &-tree {
    display: flex !important;
    padding: 0 200px;
    min-height: 436px;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      min-height: unset;
    }

    @media (max-width: 820px) {
      padding: 0 60px;
    }

    // @media (max-width: 768px) {
    //   padding: 0 60px;
    // }

    @media (max-width: 575px) {
      padding: 0 12px;
    }

    &-item {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: -36px;

      @media (max-width: 1024px) {
        flex-direction: row;
        padding: 0 !important;
        width: 100%;
        justify-content: flex-start !important;
        margin-bottom: 48px !important;
        margin-left: 0;
      }

      @media (max-width: 768px) {
        margin-bottom: 12px !important;
      }

      @media (max-width: 575px) {
        margin-bottom: 8px !important;
      }

      &:first-child {
        margin: 0
      }

      &.odd {
        padding-bottom: 190px;
        justify-content: flex-end;

        .time::before {
          border-top-color: $cl_text--primary;
          border-width: 12px 12px 0 12px;
          left: 0;
          right: 0;
          bottom: -6px;
        }
      }

      &.even {
        padding-top: 190px;
        justify-content: flex-start;

        .time::before {
          border-bottom-color: $cl_text--primary;
          border-width: 0 12px 12px 12px;
          left: 0;
          right: 0;
          top: -6px;
        }
      }

      .time {
        display: inline-block;
        font-size: $text_content--md;
        font-weight: 800;
        line-height: 28px;
        color: #fff;
        padding: 16px 36px;
        border-radius: 20px;
        background-color: $cl_text--primary;
        margin: 16px 0;
        position: relative;

        @media (max-width: 1920px) {
          padding: 12px 28px;
        }

        @media (max-width: 1024px) {
          margin: 0;
          font-size: $text_content--sm;
          padding: 12px 28px;
          width: 140px;
          text-align: center;
          line-height: unset;
          flex-shrink: 0;
        }

        @media (max-width: 820px) {
          font-size: $text_content--xs;
          padding: 12px 24px;
          width: unset;
          border-radius: 5px;
        }

        @media (max-width: 768px) {
          font-size: $text_content--xs;
          padding: 12px 24px;
          width: unset;
          border-radius: 5px;
        }

        @media (max-width: 575px) {
          font-size: 12px;
          padding: 5px 14px;
          width: unset;
          margin-right: 14px;
          border-radius: 3px;
        }


        &::before {
          position: absolute;
          display: block;
          content: '';
          border-color: transparent;
          border-style: solid;
          border-width: 0;
          width: 0;
          height: 0;
          margin: auto;

          @media (max-width: 1024px) {
            border-left-color: $cl_text--primary;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            border-width: 8px 0 8px 8px !important;
            left: 100% !important;
            bottom: 0 !important;
            top: 0 !important;
          }

          @media (max-width: 575px) {
            border-width: 5px 0 5px 5px !important;
          }

        }
      }

      .icon {
        height: 44px;
        margin: 12px 52px;

        @media (max-width: 1920px) {
          margin: 12px 48px;
        }

        @media (max-width: 1024px) {
          margin: 4px 24px;
          height: unset;
          width: 36px;
          flex-shrink: 0;
        }

        @media (max-width: 575px) {
          display: none;
        }

        img {
          height: 100%;
          width: auto !important;

          @media (max-width: 1024px) {
            width: 100% !important;
            height: unset;
          }

        }
      }

      .detail {
        width: 220%;

        @media (max-width: 1920px) {
          width: 160%;
        }

        @media (max-width: 1024px) {
          width: unset;
        }

        &-title {
          font-size: $text_content--md;
          font-weight: 800;
          line-height: 27px;
          color: $cl_main;
          margin-bottom: 8px;

          @media (max-width: 575px) {
            font-size: $text_content--xxs;
            line-height: 14px;
            margin-bottom: 0;
          }
        }

        &-list {
          padding-left: 16px;
          margin: 0;

          li {
            font-size: $text_content--xs;
            font-weight: 800;
            line-height: 20px;
            color: $cl_text--primary;

            @media (max-width: 575px) {
              font-size: $text_content--xxs;
              line-height: 14px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .slider-index {
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.fairlaunch {
  background-color: #74C959;
  overflow: hidden;

  img {
    width: 240%;

    @media (max-width: 1920px) {
      width: 240%;
    }

    @media (max-width: 1024px) {
      width: 100%;
    }
  }

  &-countdown {
    display: flex;
    align-items: center;
    margin-top: 40px;
    // @media (max-width: )

    &-item {
      width: 190px;
      height: 190px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border: 4px solid $cl_text--primary;
      border-radius: 48px;
      box-shadow: 0 6px #fff;
      margin-right: 48px;
      font-size: $text_content--lg;
      color: $cl_text--primary;

      @media (max-width: 1920px) {
        width: 150px;
        height: 150px;
        font-size: $text_content--md;
      }

      @media (max-width: 1024px) {
        width: 160px;
        height: 160px;
      }
      @media (max-width: 820px) {
        width: 140px;
        height: 140px;
        border-radius: 28px;
        margin-right: 24px;
      }
      @media (max-width: 768px) {
        width: 120px;
        height: 120px;
        border-radius: 32px;
        margin-right: 24px;
      }

      @media (max-width: 575px) {
        width: 80px;
        height: 80px;
        border-radius: 20px;
        margin-right: 12px;
        font-size: $text_content--xs;
      }

      &:last-child {
        margin: 0;
      }

      span {
        font-size: 80px;
        font-weight: 700;
        color: $cl_text--primary;

        @media (max-width: 1920px) {
          font-size: $text_title--2;
        }

        @media (max-width: 768px) {
          font-size: $text_title--3;
        }

        @media (max-width: 575px) {
          font-size: $text_title--4;
        }
      }
    }
  }
}

.tokenomics {
  background-image: url(/assets/images/background/background-5.png);

  .section-content-title {
    position: relative;
    display: inline-block;

    img {
      position: absolute;
      right: 0;
      top: 0;
      width: 48px;
      transform: rotate(-17.43deg);

      @media (max-width: 768px) {
        right: -8px;
        top: -4px;
      }

      @media (max-width: 575px) {
        width: 28px;
        right: -16px;
        top: 0;
      }

    }
  }
}

.teams {
  background-image: url(/assets/images/background/background-6.png);

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1024px) {
      margin-bottom: 48px;
    }

    @media (max-width: 575px) {
      margin-bottom: 24px;
    }

    .avatar {
      width: 200px;
      border: 3px solid $cl_text--primary;
      box-shadow: 0 12px $cl_main;
      border-radius: 50%;
      margin-bottom: 48px;

      @media (max-width: 768px) {
        width: 160px;
        margin-bottom: 24px;
      }

      @media (max-width: 575px) {
        width: 80px;
        margin-bottom: 16px;
        box-shadow: 0 6px $cl_main;
      }
    }

    .name {
      color: $cl_text--primary;
      font-size: $text_content--xl;
      font-weight: 800;
      margin: 0;

      @media (max-width: 768px) {
        font-size: $text_content--lg;
      }

      @media (max-width: 575px) {
        font-size: $text_content--md;
      }
    }

    .title {
      color: $cl_main;
      font-size: $text_content--md;
      font-weight: 800;
      line-height: 27px;
      margin-bottom: 16px;

      @media (max-width: 768px) {
        font-size: $text_content--sm;
        margin-bottom: 8px;
      }

      @media (max-width: 575px) {
        margin-bottom: 4px;
      }
    }

    .desc {
      color: $cl_text--secondary;
      font-size: $text_content--sm;
      font-weight: 600;
      line-height: 23px;
      margin: 0;
      text-align: center;

      @media (max-width: 768px) {
        font-size: $text_content--xs;
      }

      @media (max-width: 575px) {
        line-height: 20px;
      }
    }
  }
}

.partners {
  background-image: url(/assets/images/background/background-7.png);
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: 1024px) {
    justify-content: space-between;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 15%;

    @media (max-width: 1920px) {
      // margin-top: 15%;
    }

    @media (max-width: 1024px) {
      margin-top: 15%;
    }

    @media (max-width: 768px) {
      margin-top: 10%;
    }

    &-title {
      &.highlight::before {
        background-color: #FCA296;
      }
    }
  }

  &-list {
    width: 45%;
    margin-top: 48px;
    position: relative;

    @media (max-width: 1024px) {
      width: 80%;
    }

    .masscot {
      position: absolute;
      width: 120px;
      right: 24px;
      bottom: 97%;
      transform: rotate(-10deg);

      @media (max-width: 1920px) {
        width: 100px;
        right: 16px;
        bottom: 96%;
      }

      @media (max-width: 1024px) {
        right: 36px;
        bottom: 98%;
      }

      @media (max-width: 575px) {
        right: 15px;
        bottom: 98%;
        width: 80px;
      }

    }

    img:not(.masscot) {
      width: 100%;
      margin: 12px 0;
      border: 2px solid $cl_text--primary;
      border-radius: 24px;
      box-shadow: 0 4px #fff;
    }
  }
}