.footer {
  background-color: #B1CD68;
  padding: 16px 0;
  width: 100%;
  margin-top: 8%;

  @media (max-width: 1920px) {
    margin-top: 4%;
  }

  .container--custom {
    padding: 0 60px;

    @media (max-width: 575px) {
      padding: 0 12px;
    }
  }

  .copyright {
    font-size: $text_content--md;
    font-family: $titleFont;
    color: $cl_text--primary;
    text-align: center;
    width: 100%;
    display: block;

    @media (max-width: 575px) {
      font-size: $text_content--xxs;
    }
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    &-item {
      color: $cl_text--primary;
      margin-left: 24px;
      font-size: $text_content--sm;
      font-weight: 600;
      text-decoration: none;
      line-height: 23px;

      @media (max-width: 575px) {
        font-size: $text_content--xxs;
        margin-left: 8px;
      }
    }
  }
}