.header {
  position: relative;
  z-index: 999;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  #logo {
    width: 140px;

    @media (max-width: 1920px) {
      width: 80px;
    }

    @media (max-width: 1024px) {
      width: 80px;
    }
  }

  .navbar {
    padding: 12px 60px;
    background-color: $cl_background;

    @media (max-width: 1920px) {
      padding: 8px 60px;
    }

    
    @media (max-width: 575px ) {
      padding: 8px 12px;
    }

    &-brand {
      margin-right: 100px;

      @media (max-width: 1024px) {
        margin-right: 0;
      }
    }

    &-nav {
      .nav {
        &-link {
          padding: 24px !important;
          font-size: $text_content--md;
          font-weight: 600;
          color: $cl_text--secondary;

          @media (max-width: 1920px) {
            font-size: $text_content--sm;
            padding: 20px !important;
          }
          @media (max-width: 768px) {
            text-align: center;
          }

          &:hover,
          &.active {
            color: $cl_main;
          }

          &.active {
            font-weight: 800;
          }
        }
      }
    }
  }

  &-social {
    position: absolute;
    right: 60px;
    top: calc(100% + 48px);
    display: flex;
    flex-direction: column;

    @media (max-width: 575px) {
      position: static;
      flex-direction: row;
      width: 100%;
      justify-content: center;
    }

    a {
      padding: 16px;
      border: 2px solid $cl_text--primary;
      margin-bottom: 24px;
      border-radius: 50%;
      flex-shrink: 0;
      display: inline-flex;

      @media (max-width: 575px) {
        margin: 0 12px;
        padding: 12px;
      }

      img {
        width: 24px;
        @media (max-width: 768px) {
          width: 20px;
        }
      }
    }
  }
}