.header {
  position: relative;
  z-index: 999;

  #logo {
    width: 140px;
    @media (max-width: 1920px ) {
      width: 80px;
    }
    @media (max-width: 1024px ) {
      width: 80px;
    }
  }

  .navbar {
    padding: 12px 60px;
    background-color: $cl_background;
    @media (max-width: 1920px ) {
      padding: 8px 60px;
    }
    &-brand {
      margin-right: 100px;
    }

    &-nav {
      .nav {
        &-link {
          padding: 24px !important;
          font-size: $text_content--md;
          font-weight: 600;
          color: $cl_text--secondary;
          @media (max-width: 1920px ) {
            font-size: $text_content--sm;
            padding: 20px !important;
          }

          &:hover,
          &.active {
            color: $cl_main;
          }

          &.active {
            font-weight: 800;
          }
        }
      }
    }
  }

  &-social {
    position: absolute;
    right: 60px;
    top: calc(100% + 48px);
    display: flex;
    flex-direction: column;
    a {
      padding: 16px;
      border: 2px solid $cl_text--primary;
      margin-bottom: 24px;
      border-radius: 50%;
      img {
        width: 24px;
      }
    }
  }
}